* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: rgb(31, 198, 198);
  color: white;
}

.container {
  width: 450px;
  margin: 100px auto;
  box-shadow: 0 0 10px 0 rgb(172, 169, 169);
  border-radius: 10px;
}
.question-list {
  width: 100%;
}
.question-item {
  list-style-type: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.question-item:hover {
  background-color: rgb(232, 229, 229);
}
ul > .question-item:not(:nth-child(3)) {
  border-bottom: 1px solid rgb(213, 213, 213);
}
.question-box {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.answer-box {
  overflow: hidden;
  height: 0;
  transition: 0.4s;
}
.question-icon {
  font-size: 12px;
}
.question-item.showAnswer .question-icon {
  transform: rotate(90deg);
}
.answer-text {
  font-size: 14px;
  color: rgb(97, 96, 96);
}
